pkgbase = spaceaio-bin
	pkgdesc = All-in-one tiled workspace for web apps, each with its own login, with ad and tracker blocking
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/KrysGG/SpaceAIO
	arch = x86_64
	license = LicenseRef-SpaceAIO
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = libnotify
	depends = libsecret
	depends = at-spi2-core
	depends = xdg-utils
	provides = spaceaio
	conflicts = spaceaio
	conflicts = aio-space
	options = !strip
	options = !debug
	source = spaceaio-0.1.4-x64.tar.gz::https://github.com/KrysGG/SpaceAIO/releases/download/v0.1.4/spaceaio-0.1.4-x64.tar.gz
	source = spaceaio-0.1.4.svg::https://raw.githubusercontent.com/KrysGG/SpaceAIO/v0.1.4/apps/desktop/build/icon.svg
	source = spaceaio.desktop
	source = LICENSE-0.1.4::https://raw.githubusercontent.com/KrysGG/SpaceAIO/v0.1.4/LICENSE
	sha256sums = 33b77d5c74e583c0e557da58362415b1a32f19b12b2b7d70fd35dd576eeebb2b
	sha256sums = 2a3ac779b5708864800f94374a8fba9b95e240101fef9b400bd27b0195ea48a4
	sha256sums = 3cecf22887c739c25445a4c140f733c044d359da290db974e266af94985033f1
	sha256sums = 80ed6b91f29ccac008d4a00c922f3932d552d69d92be4422eddb7f5fb2b26465

pkgname = spaceaio-bin
