pkgbase = spaceaio-bin
	pkgdesc = All-in-one tiled workspace for web apps, each with its own login, with ad and tracker blocking
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/KrysGG/AIO-Space
	arch = x86_64
	license = LicenseRef-unknown
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = libnotify
	depends = libsecret
	depends = at-spi2-core
	depends = xdg-utils
	provides = spaceaio
	conflicts = spaceaio
	conflicts = aio-space
	options = !strip
	options = !debug
	source = spaceaio-0.1.0-x64.tar.gz::https://github.com/KrysGG/AIO-Space/releases/download/v0.1.0/spaceaio-0.1.0-x64.tar.gz
	source = spaceaio-0.1.0.svg::https://raw.githubusercontent.com/KrysGG/AIO-Space/v0.1.0/apps/desktop/build/icon.svg
	source = spaceaio.desktop
	sha256sums = f1eacf61f7281b1570234477e2ce3fcc71616828b3e162595796be0423b0e704
	sha256sums = 2a3ac779b5708864800f94374a8fba9b95e240101fef9b400bd27b0195ea48a4
	sha256sums = 3cecf22887c739c25445a4c140f733c044d359da290db974e266af94985033f1

pkgname = spaceaio-bin
